<script>
  import AppBar from "smelte/src/components/AppBar"
  import Button from "smelte/src/components/Button"
  import List from "smelte/src/components/List"
  import ListItem from "smelte/src/components/List/ListItem.svelte"
  import NavigationDrawer from "smelte/src/components/NavigationDrawer"
  import ProgressLinear from "smelte/src/components/ProgressLinear"
  import Tabs from "smelte/src/components/Tabs"
  import { Spacer } from "smelte/src/components/Util"
  import {
    right,
    elevation,
    persistent,
    showNav,
    showNavMobile,
    breakpoint,
  } from "smelte/src/stores.js"
  import { fade } from "svelte/transition"

  import { stores } from "@sapper/app"

  export let params
  export let segment

  const { preloading, page } = stores()

  // let selected = ""
  const bp = breakpoint()

  $: path = $page.path

  const navMenu = [{ to: "about", text: "About" }, { to: "blog", text: "Blog" }]

  const topMenu = [
    { to: "about", text: "About" },
    { to: "blog", text: "Blog" },
  ]
</script>

{#each navMenu as link}
  <a href={link.to} class="sr-only">{link.text}</a>
{/each}

{#if $preloading}
  <ProgressLinear app />
{/if}

<AppBar>
  <a href="." class="px-2 md:px-8 flex items-center">
    <img
      src="anti-gaspi_fleches_192x192.png"
      alt="Logo du projet de loi anti-gaspillage"
      width="44" />
    <h6 class="pl-3 text-white tracking-widest font-thin text-lg">
      Projet de loi anti-gaspillage
    </h6>
  </a>
  <Spacer />
  <Tabs navigation items={topMenu} bind:selected={path} />
  <div class="md:hidden">
    <Button
      icon="menu"
      small
      flat
      remove="p-1 h-4 w-4"
      iconClass="text-white"
      iconClasses={i => i.replace("p-4", "p-3").replace("m-4", "m-3")}
      text
      on:click={() => showNavMobile.set(!$showNavMobile)} />
  </div>
</AppBar>

{#if $bp}
  <main
    class="container relative p-8 lg:max-w-3xl lg:ml-64 mx-auto mb-10 mt-24
    md:ml-56 md:max-w-md md:px-3"
    transition:fade={{ duration: 300 }}>
    <NavigationDrawer
      bind:showDesktop={$showNav}
      bind:showMobile={$showNavMobile}
      right={$right}
      persistent={$persistent}
      elevation={$elevation}
      breakpoint={$bp}>
      <h6 class="p-6 ml-1 pb-2 text-xs text-gray-900">Components</h6>
      <List items={navMenu}>
        <span slot="item" let:item class="cursor-pointer">
          <a href={item.to}>
            <ListItem
              id={item.id}
              text={item.text}
              to={item.to}
              selected={path.includes(item.to)}
              selectedClasses="bg-primary-transLight hover:bg-primary-transLight"
              dense
              navigation />
          </a>
        </span>
      </List>
      <hr />
    </NavigationDrawer>

    <slot />
  </main>
{/if}
