<script>
  import Image from "smelte/src/components/Image"
  import Button from "smelte/src/components/Button"
  import Checkbox from "smelte/src/components/Checkbox"
  import Slider from "smelte/src/components/Slider"
</script>

<h1>Great success!</h1>

<div class="container max-w-xl items-center flex flex-col">
  <figure>
    <Image
      alt="Logo de la loi anti-gaspillage"
      src="anti-gaspi_logo_1669x1090.jpg" />
    <figcaption>Loi anti-gaspillage</figcaption>
  </figure>
  <h4 class="my-8">HIGH FIVE!</h4>
  <div class="my-4">
    Try editing this file (src/routes/index.svelte) to test live reloading.
  </div>

  <Button>I'm a button</Button>
  <Checkbox label="I'm a checkbox" />
  <Slider label="Me be slider" />
</div>
